* {
    font-family: sans-serif
} 

html {
scroll-behavior: smooth;
}

body {
    background-color: rgb(229, 234, 234);
}
header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    background-color: gray;
    font-family: sans-serif
}

header h1 {
    color: gray;
    background-color: aquamarine;
    margin-left: 50px;
    font-size: 50px;
    align-items: start;
}

form {
    color: aquamarine;
    font-size: 40px;
    border-right: 6px solid black;
    min-height: 85%;
    padding-right: 35px;
    text-align: right;
}

nav a {
    color: aquamarine;
    border-color: black;
    border-width: 2px;
    padding: 3px;
    margin: 5px 5px;
    border-radius: 25%;
    font-size: 25px;

}

nav a:hover {
    background-color: rgb(185, 134, 173);
color: white;
box-shadow: 0 12PX 16PX 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

img {
    display: flex;
    width: 200px;
    border-radius: 100%;
    align-items: flex-start;
}

main {
display: flex;
flex-direction: column;
align-items: center;
}

main section {
    margin: 30 px 0 px;
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    align-items: center;
    border-width: 3px;
    border-color: aquamarine;
    border-style: solid;
    padding: 30px;
    background-color: darkgray;
    


}
form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding-bottom: 50px;

}

#biotext {
    margin: 5 rem;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 200px;
    border-width: 3px;
    padding-top: 20px;
    
}

#second-section {
    min-width: 80vw;
    min-height: 200px;
    justify-content: space-between;
}


#Work-section {
    min-width: 80vw;
    min-height: 200px;
    justify-content: space-between;
}

#prework {
    display:flex;
    flex-direction: column;
    width: 200px;
    border-width: 3px;
    padding-top: 10px;
}

#resume-section {
    display:flex;
    flex-direction: column;
    width: 200px;
    border-width: 3px;
    padding-top: 10px;
}

#Github-section {
    display:flex;
    flex-direction: column;
    width: 200px;
    border-width: 3px;
    padding-top: 10px;
}

#Email-section {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-width: 3px;
    padding-top: 20px;
}

#download-btn {
    padding: 4px;
    background-color: aquamarine;
    border: 3px;
    border-color: black;
    border-style: solid;
    text-decoration: none;
    color: black;

}

#prework-btn {
    padding: 4px;
    background-color: aquamarine;
    border: 3px;
    border-color: black;
    border-style: solid;
    text-decoration: none;
    color: black;
}

#prework-btn:hover {
    background-color: purple;
    color: white;
    box-shadow: 0 12PX 16PX 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#Email-btn {
    padding: 4px;
    background-color: aquamarine;
    border: 3px;
    border-color: black;
    border-style: solid;
    text-decoration: none;
    color: black;
}

#Github-btn:hover {
    background-color: purple;
    color: white;
    box-shadow: 0 12PX 16PX 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#Email-btn:hover {
background-color: purple;
color: white;
box-shadow: 0 12PX 16PX 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#download-btn:hover {
background-color: purple;
color: white;
box-shadow: 0 12PX 16PX 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


footer {
    display: flex;
    align-items: flex-end;
    height: 400px; 
}

.Name {
    flex-grow: 1em;
}

#about-me {
    padding-left: 20px;
}


#Github-btn {
   padding: 4px;
    background-color: aquamarine;
    border: 3px;
    border-color: black;
    border-style: solid;
    text-decoration: none;
    color: black;
}